* {
  margin: 0;
  padding: 0; }

img {
  border: none; }

body {
  font-family: Georgia;
  font-size: 10px; }

table {
  margin: 1em 25px;
  text-align: left;
  font-family: arial;
  font-size: 10pt; }

th {
  background-color: #374f27;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #374f27; }

td, th {
  padding: 4px 5px; }

.odd td {
  background-color: #e1e6c4;
  color: black; }

.even td {
  background-color: #c9ceae;
  color: black; }

table a:link {
  text-decoration: none;
  color: black; }

table a:focus, a:hover {
  outline: 1px dotted; }

#header {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  border-bottom: 1px dashed #5d5d5d; }

#header h1 {
  font-size: 24px;
  text-align: center;
  /*font-style: italic; */
  /*font-variant: small-caps; */
  padding: 10px 10px;
  font-family: Georgia, "Times New Roman", Times, serif; }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding: 10px 10px; }

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  clear: both;
  text-align: center;
  border-top: 10; }

button:hover {
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0 none; }

button.clean-green {
  -moz-border-radius: 2px 2px 2px 2px;
  -moz-box-shadow: 0 1px 0 0 #96ca6d inset;
  background: -moz-linear-gradient(0% 100% 90deg, #63a62f, #7fbf4d) repeat scroll 0 0 transparent;
  border-color: #63a62f;
  border-style: solid;
  border-width: 1px 1px 0;
  color: white;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021; }

button.clean-green-full {
  -moz-border-radius: 2px 2px 2px 2px;
  -moz-box-shadow: 0 1px 0 0 #96ca6d inset;
  background: -moz-linear-gradient(0% 100% 90deg, #63a62f, #7fbf4d) repeat scroll 0 0 transparent;
  border-color: #63a62f;
  border-style: solid;
  border-width: 1px 1px 0;
  color: white;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  padding: 5px 0 5px;
  width: 120px; }

button.clean-green-full:hover {
  background: -moz-linear-gradient(0% 100% 90deg, #5a962c, #72ac45) repeat scroll 0 0 transparent; }

button.clean-green-full:active {
  -moz-box-shadow: none;
  background: -moz-linear-gradient(0% 100% 90deg, #7fbf4d, #63a62f) repeat scroll 0 0 transparent; }
